<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple HTML Example</title>
    <style>
        nav {
            background-color: #fbff08;
            padding: 10px;
        }
        nav a {
            color: white;
            margin: 10px;
            text-decoration: none;
            font-size: 18px;
        }
    </style>
</head>
<body>
    <nav>
    
        <h1>Welcome to Our Application</h1>
        <p>This is the homepage containing links to different sections of our project.</p>
    
    <section>
       
        <p>This is a simple HTML example to help you learn and experiment.</p>
        <br>
        First name is {{ var1 }} <br>
        Last name is {{ var2 }} <br>
        <button onclick="alert('Hello!')">Click Me</button>
    </nav>
        <br><br>

        
        <button onclick="window.location.href='http://127.0.0.1:8000/feedback/'">Go to Feedback</button>

    </section>
</body>
</html>
